.header-flex {
    display: flex;
    justify-content: space-between;
    background-color: #040404;
    padding: 30px;
    position: relative;
}

.ul-element {
    display: flex;
    width: 100px;
    justify-content: space-between;
    gap: 20px;
    margin-right: 550px;
    align-items: center;
}

.burger-bar {
    color: #06a52b;
    display: none;
    font-size: 30px;
}

#icon-x {
    display: none;
}

img.logo {
    max-width: 300px;
    width: 100%;
}

nav ul li a {
    font-size: 25px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    color: white;
}

nav ul li a:hover {
    color: red;
}

.button {
    background-color: green;
    max-width: 182px;
    width: 100%;
    height: 57px;
    border-radius: 7px;
    border: 0px;
    color: white;
    font-size: 25px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 50;
    margin-right: 50px;
}

.tex {
    font-family: "Nunito", sans-serif;
    font-size: 70px;
    font-weight: 900;
    max-width: 800px;
    width: 100%;
    height: auto;
    color: white;
    margin-top: 100px;
    margin-left: 150px;


}

.texx {
    display: none;
}

.texti {
    margin-top: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 650px;
    width: 90%;
    color: gray;
    margin-left: 150px;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.piza {
    max-width: 700px;
    width: 100%;
    height: 700px;
}

.seq1buttons {
    padding: 20px;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    font-family: "Nunito", sans-serif;
}

.seq1butt2 {
    background-color: white;
    border: 1px solid green;
    color: green;
}

.seq1butt:hover {
    border: 1px solid red;
    color: red;
}

.seq1butt3 {
    background-color: white;
    border: 1px solid green;
    color: green;
    display: none;
    align-items: center;
    justify-content: center;
}



/* Cookies */
#cookie-banner {
    position: fixed;
    bottom: 0;
    border: 3px solid gray;
    width: 100%;
    height: 170px;
    background-color: rgb(225, 219, 219);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fa-cookie-bite {
    font-size: 30px;
    color: #be9c07;
}

.cookies {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.cookies h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 50px;
    font-size: 30px;

}

.cookiep {
    margin-top: 20px;
    margin-left: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 50px;
    font-size: 25px;
}

.cookietext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    margin-bottom: 10px;
    display: flex;
}

#accept-cookies {
    width: 200px;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: rgb(5, 5, 62);
    border: none;
}

#accept-cookies:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(36, 138, 10, 0.452);
    /* color: rgb(5, 5, 62); */
    color: green;
}

#reject-cookies {
    color: black;
    width: 200px;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid black;
}

#reject-cookies:hover {
    background-color: white;
    border: 1px solid rgb(247, 7, 7);
    color: red;
}


/* scroll to top */

#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 14px;
    font-size: 18px;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #333;
    color: #fff;
    cursor: pointer;
    display: none;
}

#scrollTopBtn:hover {
    background: #555;
}

/* .form-container {
    display: none;
} */

/* Our Menu */

.sec2 {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec2t {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.s2title {
    text-align: center;
    font-size: 50px;
    font-style: bold;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 60px;
    margin-bottom: 20px;
}

.s2titlee {
    font-size: 25px;
    font-style: bold;
    color: gray;
    font-family: "Nunito", sans-serif;
    font-weight: 60px;
    margin-bottom: 50px;
}

.boxes {
    max-width: 2000px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25PX;
    align-items: center;
    justify-content: center;
}

.box:hover {
    box-shadow: 5px 5px 15px rgb(8, 97, 1);
}

.content {
    margin-left: 120px;
    margin-top: 50px;
    font-size: 30px;
    font-style: bold;
    color: black;
    font-family: "Fredoka", sans-serif;
    font-weight: 90px;
}

.content p {
    margin-top: 30px;
    color: red;
}

.box {
    max-width: 413px;
    width: 90%;
    height: 390px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.red-bg {
    margin-top: 45px;
    width: 333.33px;
    height: 149.25px;
    border-radius: 100px;
    background-color: rgb(3, 70, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

img.piza2 {
    width: 230px;
}

img.chiken {
    width: 250px;
}

img.samosa {
    width: 210px;
}

img.black {
    width: 250px;
}

img.bbq {
    width: 250px;
}

img.pasta {
    width: 200px;
}

img.ruti {
    width: 200px;
}

.pizatext {
    width: 300px;
    height: 50px;
    font-size: 27px;
    font-style: bold;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-weight: 120;
}

.icon {
    margin-left: 300px;
    margin-bottom: 40px;
}

/* json */

.order {
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.order img {
    border-radius: 50%;
    margin-right: 10px;
}

.ordersh1 {
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

/* Visit Us */
.sect3 {
    width: 100%;
    height: auto;
}

.inffo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.visit {
    padding: 40px;
    width: 100%;
    height: auto;
    background-color: #040404;
}

img.delivery {
    max-width: 800px;
    width: 100%;
    height: 800px;
}

.vistitle {
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.vistitle p {
    margin-top: 20px;
    font-size: 25px;
    color: gray;
}

.vistitle h1 {
    margin-top: 20px;
    color: white;
}

.info {
    max-width: 700px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.location {
    padding: 20px;
    max-width: 500px;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.location:hover {
    border: 3px solid red;
}

.inftext {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loc2 {
    width: 65px;
    height: 65px;
    border-radius: 32.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD40D;
}

.h1loc {
    margin-left: 30px;
    font-size: 20px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.h3loc {
    margin-left: 30px;
    font-size: 15px;
    font-style: bold;
    color: gray;
    font-family: "Nunito", sans-serif;
}

.sec3but {
    max-width: 500px;
    width: 100%;
    height: 70px;
    border-radius: 100px;
    background-color: #06a52b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.sec3but:hover {
    background-color: #035408;
    transition: background-color 1s ease;
}

/* Place Your Order */
.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #040404;
    width: 100%;
    height: auto;
}

.section4.vistitle {
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.border {
    max-width: 1050px;
    width: 100%;
    height: auto;
    border: 2px solid green;
    border-radius: 20px;
}

.fa-cart-shopping {
    color: red;
}

.sec4inf {
    display: flex;
    gap: 5px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 25px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.sec4h1 {
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}

.sect4p {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-left: 230px;
    font-size: 20px;
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.form-control {
    margin-left: 30px;
    margin-bottom: 10px;
    position: relative;
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.form-control label {
    font-weight: bold;
    font-size: 13px;
}

.form-control input {
    margin-top: 5px;
    display: block;
    max-width: 1000px;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(232, 232, 232);
    font-family: inherit;
}

.form-control input:focus {
    outline: none;
}

.form-control.success input {
    border: 2px solid green;
}

.form-control.error input {
    border: 2px solid red;
    animation-name: inputMove;
    animation-duration: .5s;
}
.container.error {
    animation-name: inputMove;
    animation-duration: .5s;
}

.form-control .errorMessage {
    visibility: hidden;
    margin: 2px 0 12px 0;
    font-weight: bold;
    font-size: 11px;
}

.form-control.error .errorMessage {
    visibility: visible;
    color: red;
}

button {
    margin-left: 30px;
    font-family: inherit;
    max-width: 1000px;
    width: 90%;
    padding: 10px;
    background-color: green;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid green;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

button:focus {
    outline: none;
}

button:hover {
    color: red;
    border: 2px solid red;
    background: transparent;
}

.complete-modal {
    visibility: hidden;
    position: fixed;
    top: 45%;
    left: 41%;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(61, 61, 61, 0.19), 0 0 15px 1px rgba(63, 63, 63, 0.23);
    color: green;
    text-align: center;
}

.container.complete .complete-modal {
    visibility: visible;
}

.toggle-password {
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px;
    color: blue;
}



/* What Our Customers Say */
.section5.vistitle {
    margin-top: 170px;
}

.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #040404;
}

.fa-star {
    color: orange;
}

.stars {
    margin-bottom: 25px;
}

.customersay {
    border: 1px solid orange;
    border-radius: 20px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.customersay:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.845);
}

.custsay {
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: #830101;
}

.circlep {

    color: white;
}

.customer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cust {
    font-size: 15px;
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.cust.name {
    font-size: 20px;
    color: white;
}

.customerrs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
    width: 100%;
    height: auto;
}

.sec5line {
    margin-top: 50px;
    max-width: 2200px;
    width: 100%;
    height: 1px;
    background-color: #d40015;
}

.sec5h1 {
    font-size: 40px;
    color: #d40015;
    font-style: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 50;
}

.rating {
    margin-top: 100px;
    display: flex;
    gap: 300px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

/* Footer */
.foooter {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(71, 71, 95);
}

.footertext {
    padding: 30px;
    max-width: 450px;
    width: 100%;
    font-size: 20px;
    font-style: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 50px;
}

.icons {
    margin-top: 20px;
    font-size: 25px;
    color: gray;
    display: flex;
    gap: 30px;
}

.fa-facebook-f:hover {
    color: blue;
}

.fa-twitter:hover {
    color: lightskyblue;
}

.fa-instagram:hover {
    color: palevioletred;
}

.fa-envelope:hover {
    color: #FFD40D;
}

.quicklink {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul li {
    margin-bottom: 20px;
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.footerh1 {
    font-size: 20px;
    color: white;
    font-style: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 50px;
}

.footerp {
    font-size: 20px;
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 50px;
}

.footerlinks {
    display: flex;
    gap: 150px;
    margin-right: 50px;
}

.linefooter {
    margin-top: 50px;
    max-width: 2200px;
    width: 100%;
    height: 1px;
    background-color: #d40015;
}

.footertexts {
    display: flex;
    justify-content: space-between;
}

.footertxt {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footertxt ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footerline {
    background-color: gray;
}

.quicklink p {
    color: gray;
    font-style: bold;
    font-family: "Nunito", sans-serif;
}

.quicklink ul li:hover {
    color: #d40015;
}

.footertxt ul li:hover {
    color: #d40015;
}


@media(max-width:2200px) {
    img.piza {
        max-width: 400px;
        width: 100%;
        height: 400px;
    }

    img.delivery {
        max-width: 500px;
        height: 500px;
    }

}


@media(max-width:1024px) {

    .nav {
        display: none;
    }

    .header-flex {
        align-items: center;
    }

    #icon-x {
        margin-bottom: 180px;
        margin-right: 0px;
    }

    .ul-element {
        flex-direction: column;
        margin-right: 20px;
        width: 100px;
        background-color: #06a52b;
    }

    .button {
        display: none;
    }

    .nav.activenavigation {
        display: block;
    }

    .burger-bar {
        display: flex;
    }

    .tex {
        margin-left: 100px;
        font-size: 50px;
        max-width: 550px;
        margin-top: 50px;
    }

    .texti {
        margin-left: 100px;
        max-width: 550px;
    }

    .main-container {
        background-color: #040404;
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .navigation ul {
        display: none;
    }

    .button {
        height: auto;
    }

    .navigation {
        height: auto;
        margin-bottom: 20xp;
    }

    #cookie-banner {
        height: auto;
    }

    .section1 {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec1cont {
        background-color: #830101;
    }

    img.piza {
        max-width: 500px;
        height: 500px;
        margin-top: 0px;
    }

    .seq1buttons {
        margin-left: 50px;
        display: flex;
        font-family: "Nunito", sans-serif;
    }

    .s2title {
        font-size: 45px;
    }

    .s2titlee {
        font-size: 20px;
    }

    .boxes {
        height: auto;
    }

    .box {
        height: auto;
    }

    img.delivery {
        height: auto;
    }

    .inffo {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .sec2 {
        height: auto;
    }

    #menu {
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .menu-item {
        height: auto;
    }

    .menuh2 {
        font-family: "Nunito", sans-serif;
        font-weight: 50px;
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    .info {
        display: contents;
    }

    .section4 {
        height: auto;
    }

    .customerrs {
        flex-direction: column;
        height: auto;
    }

    button {
        margin-left: 30px;
    }

    .sect4p {
        margin-left: 100px;
    }

    .rating {
        gap: 70px;
    }

    .foooter {
        flex-direction: column;
        height: auto;
    }

    .footerp {
        margin-left: 20px;
        width: 300px;
        font-size: 15px;
    }

    .icons {
        margin-left: 20px;
    }

    .footerh1 {
        font-size: 13px;
    }

    .quicklink {
        height: auto;
        margin-left: 10px;
    }

    .footerlinks {
        flex-direction: column;
        gap: 10px;
    }




    #cookie-banner {
        border-radius: 8px;
        gap: 5px;
        flex-direction: column;
    }

    .fa-cookie-bite {
        font-size: 25px;
    }

    .cookies {
        margin-left: 30px;
        margin-top: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .cookies h1 {
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 25px;

    }

    .cookiep {
        font-weight: 100;
        font-size: 15px;
    }

    .cookietext {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .buttons {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    #accept-cookies {
        width: 200px;
        margin-left: 10px;
        padding: 6px 12px;
        background-color: rgb(5, 5, 62);
        border: none;
    }

    #accept-cookies:hover {
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(36, 138, 10, 0.452);
        color: green;
    }

    #reject-cookies {
        color: black;
        width: 200px;
        margin-left: 10px;
        padding: 6px 12px;
        background-color: white;
        border: 1px solid black;
    }

    #reject-cookies:hover {
        background-color: white;
        border: 2px solid rgb(247, 7, 7);
        color: red;
    }
}

@media(max-width:768px) {
    img.logo {
        width: 200px;
    }

    .tex {
        max-width: 440px;
        font-size: 20px;
        margin-left: 10px;
    }

    .texti {
        margin-left: 10px;
        max-width: 500px;
    }

    .seq1butt {
        margin-left: 0px;
    }

    .seq1buttons {
        margin-left: 0px;
        padding: 10px;
    }

    .s2title {
        font-size: 30px;
    }

    .s2titlee {
        font-size: 20px;
    }

    .pizatext h3 {
        font-size: 20px;
    }

    .vistitle h1 {
        font-size: 30px;
    }

    .vistitle p {
        font-size: 20px;
    }

    .border {
        height: auto;
    }

    .section4.vistitle h1 {
        font-size: 30px;
    }

    .section4.vistitle p {
        font-size: 20px;
    }

    .rating {
        gap: 50px;
    }

    .sec5h1 {
        font-size: 30px;
    }

    .section5.vistitle h1 {
        font-size: 30px;
    }

    .section5.vistitle p {
        font-size: 20px;
    }

    .footertexts {
        height: auto;
        flex-direction: column;
    }

    .footerlinks {
        flex-direction: row;
    }

    .s2titlee {
        margin-left: 30px;
    }

    .sect4p {
        margin-left: auto;
        font-size: 15px;
    }

    .rating {
        flex-direction: column;
    }

    #scrollTopBtn {

        right: 50px;

    }
}


@media(max-width:480px) {
    img.logo {
        width: 150px;
    }

    nav ul li a {
        font-size: 15px;
    }

    img.piza {
        max-width: 550px;
        height: 450px;
    }

    .texh1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tex {
        text-align: center;
    }


    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texti {
        text-align: center;
        max-width: 500px;
    }

    .seq1buttons {
        padding: 0px;
        margin-left: 0px;

    }

    #accept-cookies {
        width: 100px;
    }

    #reject-cookies {
        width: 100px;
    }

    img.piza2 {
        width: 160px;
    }

    img.chiken {
        width: 160px;
    }

    img.samosa {
        width: 130px;
    }

    img.black {
        width: 160px;
    }

    img.bbq {
        width: 150px;
    }

    img.pasta {
        width: 130px;
    }

    img.ruti {
        width: 140px;
    }

    .red-bg {
        margin-top: 45px;
        width: 210px;
        height: 80px;
    }

    .pizatext {
        width: 200px;
        font-size: 18px;
    }

    img.icon {
        width: 30px;
        margin-left: 140px;
        margin-bottom: 30px;
    }

    .h3loc {
        display: none;
    }

    .info {
        display: contents;
    }

    .h1loc {
        margin-left: 10px;
        font-size: 14px;
    }

    img.locimg {
        width: 50px;
    }

    .loc2 {
        width: 50px;
        height: 50px;
    }

    .location {
        max-width: 320px;
        height: 100px;
    }

    .section5.vistitle h1 {
        font-size: 25px;
    }

    .custsay {
        font-size: 16px;
    }

    .customer {
        display: flex;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .circlep {
        font-size: 15px;
    }

    .cutomerp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cust.name {
        font-size: 15px;
    }

    .hours {
        display: none;
    }


    .footertext {
        padding: 0;
    }

    .quicklink {
        margin-top: 20px;
    }

    .footerp {
        font-size: 15px;
        width: 200px;
    }

    .sect4p {
        font-size: 10px;
    }

    .tex {
        font-size: 15px;
    }

    .texti {
        font-size: 15px;
    }

    .quicklink ul li {
        font-size: 13px;
    }

    .quicklink p {
        font-size: 13px;
    }

    .footertxt {
        flex-direction: column;
    }

    .footertxt p {
        margin-bottom: 10px;
    }
}

@media(max-width:320px) {

    img.logo {
        max-width: 100px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .ul-element {
        width: 70px;
        height: auto;
        gap: 6px;
    }

    .texti {
        text-align: center;
        max-width: 320px;
        font-size: 14px;
        font-weight: 100;
    }

    .tex {
        display: none;
    }

    .texx {
        display: flex;
        color: white;
        font-size: 20px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        text-align: center;
    }

    img.piza {
        max-width: 300px;
        height: 300px;
    }

    .seq1buttons {
        padding: 0px;
        margin-top: 50px;
        margin-left: 20px;
        justify-content: center;
        max-width: 250px;

    }

    .seq1butt2 {
        display: none;
    }

    .seq1butt3 {
        display: flex;
    }

    .s2title {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .s2titlee {
        font-size: 15px;
        font-weight: 20;
    }

    img.piza2 {
        width: 150px;
    }

    img.chiken {
        width: 150px;
    }

    img.samosa {
        width: 120px;
    }

    img.black {
        width: 150px;
    }

    img.bbq {
        width: 140px;
    }

    img.pasta {
        width: 120px;
    }

    img.ruti {
        width: 130px;
    }

    .red-bg {
        width: 200px;
        height: 80px;
    }

    .pizatext {
        width: 200px;
        font-size: 15px;
    }

    img.delivery {
        max-width: 300px;
        height: 300px;
    }

    img.icon {
        width: 30px;
        margin-left: 120px;
        margin-bottom: 30px;
    }

    .vistitle {
        font-size: 25px;
    }

    .vistitle p {
        font-size: 15px;
    }

    .h3loc {
        display: none;
    }

    .h1loc {
        margin-left: 10px;
        font-size: 10px;
    }

    img.locimg {
        width: 50px;
    }

    .loc2 {
        width: 50px;
        height: 50px;
    }

    .location {
        max-width: 320px;
        height: 100px;
    }

    .inffo {
        gap: 10px;
    }

    .sec3but {
        max-width: 320px;
        height: 50px;
        font-size: 15px;
    }

    .section4.vistitle {
        font-size: 20px;
    }

    .section4.vistitle p {
        font-size: 15px;
    }

    .sec4h1 {
        font-size: 11px;
    }

    .Submit {
        width: 230px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section5.vistitle h1 {
        font-size: 20px;
    }

    .section5.vistitle p {
        font-size: 15px;
    }

    .custsay {
        font-size: 16px;
    }

    .customer {
        display: flex;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .circlep {
        font-size: 15px;
    }

    .cutomerp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cust.name {
        font-size: 15px;
    }

    .quicklink ul li {
        font-size: 13px;
    }

    .quicklink p {
        font-size: 13px;
    }

    .footertxt {
        flex-direction: column;
    }

    .footertxt p {
        margin-bottom: 10px;
    }
}


.burger {
    font-size: 26px;
    cursor: pointer;
}

/* Dropdown menu */
.menu {
    max-height: 0;
    overflow: hidden;
    background: #fff;
    transition: max-height 0.35s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.menu.active {
    max-height: 300px;
}

.menu ul {
    list-style: none;
    padding: 20px 0;
}

.menu ul li {
    text-align: center;
    padding: 15px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

nav ul li a {
    color: white;
}

.fa-bars {
    color: green;
}

.fa-xmars {
    color: green;
}